<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>
  <body>
    <div>
      <p>Hi {{ firstName }},</p>
      <p>
        Here is your LaserAway Application link, here you will be able to fill
        out your LaserAway financing application.
        <br />
        <a href="{{ link }}">{{ link }}</a>
      </p>
      <p>
        If you have any questions feel free to reach out to our friendly support
        team.
      </p>
      <p>Thank you,</p>
      <p>
        LaserAway Team
        <br />
        <a href="mailto:no-reply@patrialending.com">no-reply@patrialending.com</a>
      </p>
    </div>
  </body>
</html>
