<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>
  <body>
    <div>
      <h1>Dear {{first_name}},</h1>
      <p>
        Thank you for applying for a loan with LaserAway Finance. We are unable
        to offer you credit on the terms that you requested for the following
        reason(s):
      </p>

      <ul>
        <li>Lack of sufficient relevant account information at Transunion</li>
        <li>Lack of sufficient relevant installment account information</li>
        <li>Length of time since online payday loan opened</li>
        <li>Lack of sufficient relevant revolving or bankcard information</li>
      </ul>

      <p>
        If you have any questions please contact our office at
        <a href="mailto: FinanceSupport@laseraway.net">
          FinanceSupport@laseraway.net
        </a>
      </p>

      <p>
        If we obtained information from a consumer reporting agency as part of
        our consideration of your application, its name address and toll free
        telephone numbers are shown below. The consumer reporting agency played
        no part in our decision and is unable to provide you with specific
        reasons why we have denied credit to you.
      </p>

      <p>
        You have the right under the Fair Credit Reporting Act to know the
        information contained in your credit file at the consumer reporting
        agency. You also have a right to a free copy of your report from the
        reporting agency if you request it no later than 60 days after you
        receive this notice. In addition, if you find that any information
        contained in the report you received is inaccurate or incomplete, you
        have the right to dispute the matter with the reporting agency. You can
        find out about the information contained in your file if one was used by
        contacting the agency at the address or phone listed below:
      </p>

      <address>
        Transunion Services <br />
        LLCP.O. Box 740256 <br />
        Atlanta, GA 30374-0256 <br />
        866.349.5191 <br />
      </address>

      <p>Thank you,</p>

      <p>LaserAway Finance</p>

      <p>
        Notice: The federal Equal Credit Opportunity Act prohibits creditors
        from discriminating against credit applicants on the basis of race,
        color, religion, national origin, sex, marital status, age (provided the
        applicant has the capacity to enter into a binding contract); because
        all or part of the applicant's income derives from any public assistance
        program; or because the applicant has in good faith exercised any right
        under the Consumer Credit Protection Act. The federal agency that
        administers compliance with this law concerning this creditor is Federal
        Trade Commission, 600 Pennsylvania Avenue, NW, Washington, DC 20580.
      </p>
    </div>
  </body>
</html>
